@use "helpers" as *;
:root{
  --color-light: #FFFFFF;
  --color-dark: #000000;

  --color-gray: #D7D7D7;
  --color-dark-gray: #636571;
  --color-light-gray: #F8FAFB;
  --color-baby-blue: #F2F5F8;

  --color-green: #53B578;
  --color-dark-green:#309557;
  --color-red: #E07C7C;

  --color-chart-green: #1ddd9a;
  --color-chart-red: #ed4747;
  --color-chart-blue: #308cca;
  --color-chart-orange: #ea993c;

  --font-family-base: 'Inter', sans-serif;

  --container-width: #{rem(955)};
  --container-padding-x: #{rem(16)};
}